.welcome{
    text-align: center;
    color:  rgb(245, 45, 78);
}
.list{
    margin: 2rem auto;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.3);
    padding: 1rem;
    width: fit-content;
}

.list ul li{
    list-style: none;
}

.list ul li span{
    color: gray;
}